<h1>Admin Dashboard</h1>
<h2> There are <a href="products#index" > <%= @count %> </a> products in the database. </h2>
<h2> There are <a href="admin/products#index" > <%= @category_count %> </a> categories in the database. </h2>
